@using System.Linq
@using System.Xml.Linq
@using umbraco.MacroEngines
@using uBlogsy.BusinessLogic.Extensions
@using uBlogsy.BusinessLogic
@{
    
    DynamicNode landing = DataService.Instance.GetLanding(Model.Id); 
    
    // get all pages
    var nodes = GetPageNodes(landing, Model.Id);                   
                        
    <ul id="uBlogsy_nav">
        @if (Request.Url.AbsolutePath == landing.Url){
            <li><a href="@landing.Url" class="uBlogsy_current">Home</a></li>
        }
        else{
            <li><a href="@landing.Url">Home</a></li>
        }

        @foreach (DynamicNode n in nodes)
        {
            if (Request.Url.AbsolutePath == n.Url)
            {
                <li><a href="@n.Url" class="uBlogsy_current">@n.GetProperty("uBlogsyContentTitle")</a></li>
            }
            else
            {
                <li><a href="@n.Url">@n.GetProperty("uBlogsyContentTitle")</a></li>
            }
        }
    </ul>
}


@functions{

    /// <summary>
    /// Uses a queue to traverse the tree to find page nodes.
    /// </summary>
    /// <param name="pageId"></param>
    /// <returns></returns>
    public IEnumerable<DynamicNode> GetPageNodes(DynamicNode landing, int pageId)
    {
        List<DynamicNode> pageNodes = new List<DynamicNode>();

        Queue<DynamicNode> q = new Queue<DynamicNode>();
        
        foreach(var child in landing.GetChildrenAsList.Items)
        {
            if (child.NodeTypeAlias == "uBlogsyPage")
            {
                pageNodes.Add(child);
            }
            else
            {
                q.Enqueue(child);
            }
        }

        
        while(q.Count() > 0)
        {
            var child = q.Dequeue();

            if (child.NodeTypeAlias == "uBlogsyPage")
            {
                pageNodes.Add(child);
            }
            else
            {
                // node types to skip
                if (child.NodeTypeAlias == "uBlogsyContainerBlog") { continue; }
                else if (child.NodeTypeAlias == "uBlogsyFolderYear") { continue; }
                else if (child.NodeTypeAlias == "uBlogsyFolderMonth") { continue; }
                else if (child.NodeTypeAlias == "uBlogsyFolderDay") { continue; }
                else if (child.NodeTypeAlias == "uBlogsyPost") { continue; }
                
                // this is only because some people may put various nodes anywhere in the tree
                foreach(var grandChild in child.GetChildrenAsList.Items)
                {
                    q.Enqueue(grandChild);
                }
            }
        }

        return pageNodes;
    }
}