@{
    /* RSS FEED */
}  
@using System.Linq
@using System.Xml.Linq
@using umbraco.MacroEngines
@using uBlogsy.Common.Extensions
@using uBlogsy.Common.Helpers
@using uBlogsy.BusinessLogic
@{
    // get tag, category, or author from query string
    var tag = Request.QueryString["tag"];
    var category = Request.QueryString["category"];
    var author = Request.QueryString["author"];
    var searchTerm = Request.QueryString["search"];
    var commenter = Request.QueryString["commenter"];

    // get all posts
    
    IEnumerable<DynamicNode> posts = PostService.Instance.GetPosts(Model.Id, tag, category, author, searchTerm, commenter, 0, int.MaxValue);
       
    var lastPubDate = !posts.Any() ? DateTime.Now.ToString() : posts.FirstOrDefault().GetProperty("uBlogsyPostDate").Value;


    // get landing page
    var landing = DataService.Instance.GetLanding(Model.Id);

    var qs = Request.QueryString.ToString().Replace("+", "%20");
    
    // get blog url
    string blogUrl = Request.Url.AbsoluteUri
                            .Replace(Model.NiceUrl(), string.Empty)
                            .TrimEnd("/".ToCharArray());

    if (!string.IsNullOrWhiteSpace(qs))
    {
        blogUrl = blogUrl.Replace(qs, string.Empty).Replace("?", string.Empty);
    }
    
    <rss version="2.0">
        <channel>
            <title>@landing.uBlogsyRssTitle</title>
            <description>@landing.uBlogsyRssDescription</description>
            <copyright>@landing.uBlogsyRssCopyright</copyright>
            @*<image>@landing.uBlogsyRssImage</image>*@
            <link>@blogUrl</link>
            <lastBuildDate>@lastPubDate.FormatDateTime("ddd, dd MMMM yyyy HH:mm:ss")</lastBuildDate>
            <pubDate>@lastPubDate.FormatDateTime("ddd, dd MMMM yyyy HH:mm:ss")</pubDate>

            @foreach (var p in posts)
            {
                <item>
                    <title>@p.GetProperty("uBlogsyContentTitle").Value</title>
                    <author>@p.GetProperty("uBlogsyPostAuthor").Value</author>
                    <comments>@blogUrl@p.Url</comments>
                    <description>@p.GetProperty("uBlogsyContentBody").Value.StripHtml().Trim()</description>
                    <link>@blogUrl@p.Url</link>
                    <guid>@blogUrl@p.Url</guid>
                    <pubDate>@p.GetProperty("uBlogsyPostDate").Value.FormatDateTime("ddd, dd MMMM yyyy HH:mm:ss") </pubDate>
                </item>
            }
        </channel>
    </rss>
}