@using System.Linq
@using System.Xml.Linq
@using umbraco.MacroEngines;
@using uBlogsy.BusinessLogic;
@{
    List<string> allCategories = new List<string>();
        
    // get landing page
    var landing = DataService.Instance.GetLanding(Model.Id);
        
    if (PageData.Count > 0)
    {
        DynamicNode d = new DynamicNode(PageData[0]);
        var categories = d.GetProperty("uBlogsyPostCategories").Value.Split(",".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
        allCategories.AddRange(categories);
            
        if (allCategories.Count > 0){
            <div class="uBlogsy_categories_container">
                <h4>@Dictionary["uBlogsyDicCategories"]  : </h4> 
                <ul class="uBlogsy_categories">
                    @foreach (var c in allCategories)
                    {
                        if (!string.IsNullOrEmpty(c.Trim()))
                        {
                            <li><a href="@landing.Url?category=@Server.UrlEncode(c)" title="@c">@c</a></li>
                        }
                    }    
                </ul>
            </div>
        }
    }
    else
    {
        // get all categories
        var nodes = PostService.Instance.GetPosts(Model.Id);
        foreach (var n in nodes)
        {
            allCategories.AddRange(n.uBlogsyPostCategories.Split(",".ToCharArray(), StringSplitOptions.RemoveEmptyEntries));
        }

        // get only distinct categories
        IEnumerable<string> categories = allCategories.Distinct();
            
        if (categories.Count() > 0){
            // display categories
            <div class="uBlogsy_categories_container uBlogsy_bottom_border">
                 <h2>@Dictionary["uBlogsyDicCategoriesAll"] </h2>
                <ul class="uBlogsy_categories">
                   
                    
                    @foreach (var c in categories)
                    {
                        if (!string.IsNullOrEmpty(c.Trim()))
                        {
                            <li><a href="@landing.Url?category=@Server.UrlEncode(c)" title="@c">@c</a></li>
                        }
                    }
                </ul>
            </div>
        }
    }
}

    
