@{ /* Displays post items in list form: 
    *   - year
    *       - month
    *           - post item
    *           - post item
    */}

 <script type="text/javascript">
     $(document).ready(function () {
         $('#uBlogsy_post_archive .uBlogsy_year_name').click(function () {

             // toggle months
             $(this).siblings(".uBlogsy_months").toggle();
             $(this).siblings(".uBlogsy_months").find('.uBlogsy_post-items').trigger('click');

             return false;
         });

         $('#uBlogsy_post_archive .uBlogsy_month_name').click(function () {
             // toggle months
             $(this).siblings(".uBlogsy_post-items").toggle();
             return false;
         });


         // expand current post item's month
         var postItem = $('#uBlogsy_post_archive').find('a[href$="' + window.location.pathname + '"]');
         if (postItem.length == 1) {
             $(postItem).parents('#uBlogsy_post_archive .uBlogsy_post-items').show();
             $(postItem).parents('#uBlogsy_post_archive .uBlogsy_months').show();
         }
         else {
             // expand latest month
             $(postItem).parents('#uBlogsy_post_archive .uBlogsy_months:eq(0)').show();

             // trigger click to show first month
             $('.uBlogsy_month_name:eq(0)').trigger('click');
         }
     });
</script>



@using System.Linq;
@using umbraco.MacroEngines;
@using uBlogsy.BusinessLogic.Helpers;
@using uBlogsy.BusinessLogic.Extensions;
@using uBlogsy.Common.Extensions;
@using umbraco.interfaces;
@using System.Collections;
@using uBlogsy.BusinessLogic;
@{   
    int currentYear = -1;
    int currentMonth = -1;
    int firstYear = -1;
    List<DynamicNode> nodes = ((IEnumerable<DynamicNode>)PostService.Instance.GetPosts(Model.Id)).ToList();

    string archiveClass = "uBlogsy_archive uBlogsy_bottom_border";
    if (@Parameter.AltLayout == "1")
    {
        archiveClass += " uBlogsy_post_archive_alt";
    }
    
    <div class="@archiveClass">  
        <h2>@Dictionary["uBlogsyDicArchive"]</h2>
        <div id="uBlogsy_post_archive">
            <ul class="uBlogsy_years">
                @for (int i = 0; i < nodes.Count();)
                {
                    var node = nodes[i];
                        
                    var date = DateTime.Parse(node.GetProperty("uBlogsyPostDate").Value);
                    currentYear = date.Year;
                    currentMonth = date.Month;
                        
                    if (firstYear == -1)
                    {
                        firstYear = currentYear;
                    }

                    string yearClass = "uBlogsy_year";
                    if (currentYear == firstYear)
                    {
                        yearClass += " uBlogsy_year_first";
                    }

                    // render years-months-items
                    <li class="@yearClass">
                        <a class="uBlogsy_year_name" href="#"><span>@currentYear</span></a> @*render year name*@
                        <ul class="uBlogsy_months">
                            @for (; i < nodes.Count(); i++){
                                node = nodes[i];
                                date = DateTime.Parse(node.GetProperty("uBlogsyPostDate").Value);
                                currentMonth = date.Month;

                                if (date.Year != currentYear)
                                {
                                    break; 
                                }
                            
                                <li class="uBlogsy_month">
                                    <a class="uBlogsy_month_name" href="#"> <span>@uBlogsy.Common.Helpers.DateHelper.GetMonthName(currentMonth, false)</span> </a>@*render month name*@
                                    <ul class="uBlogsy_post-items">

                                        @for (; i < nodes.Count(); i++){
                                            node = nodes[i];
                                            date = DateTime.Parse(node.GetProperty("uBlogsyPostDate").Value);

                                            if (date.Month != currentMonth){i--; break; }
                                            if (date.Year != currentYear) { i--; break; }
                                                   
                                            <li class="uBlogsy_post-item"> 
                                                <a href="@node.Url">
                                                    <span class="uBlogsy_post_title">@node.GetProperty("uBlogsyContentTitle").Value</span>
                                                    <span class="uBlogsy_post_date">- @node.GetProperty("uBlogsyPostDate").Value.FormatDateTimeOrdinal("d MMMM yyyy")</span>
                                                </a>
                                            </li>
                                            }

                                    </ul>
                                </li>
                          } 
                          </ul>
                    </li>
                   }
              </ul>
        </div>
    </div>
}


